.video-bg {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* .rcw-conversation-container > .rcw-header {
    background-color:#5f7fb6;
  }

.rcw-conversation-container .rcw-header
{
    background-color:rgba(84,58,183,1) !important;
}

.rcw-launcher {
    background-color: rgba(84,58,183,1) !important;
} */

.video-bg > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
};

.rcw-message  {
    margin: 10px !important;
    display: flex !important;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
}

.chatbot {
    position: fixed;
    top: 30%;
    height: 80%;
    right: 10px;
    z-index: 100;
    align-items: right;
    display: inline-block;
    flex-direction: column;
}

.chat-button {
    position: fixed;
    top: 90%;
    right: 10px;
    border: none;
    border-radius:100%;
    background-color: rgb(159 140 222);
    padding: 10px;
    height: 65px;
    width: 65px;
}

.chatbot-iframe {
    position: fixed;
    top: 25%;
    border-radius: 10%;
    right : 10px;
}

.hide-chat {
    display: none;
}

.b-agent-demo_powered_by {
    visibility: hidden;
}

df-messenger {
    --df-messenger-bot-message: #9575cd;
    --df-messenger-button-titlebar-color: #c7a4ff;
    --df-messenger-chat-background-color: #fff;
    --df-messenger-font-color: white;
    --df-messenger-send-icon: #9575cd;
    --df-messenger-user-message: #c7a4ff;
    --df-messenger-input-box-color: #c7a4ff;
    --df-messenger-input-font-color: white;
    --df-messenger-input-placeholder-font-color: white;
   }


#messageList {
    overflow: hidden;
}